<form class="form-horizontal" name="editCatForm">
  <md-content class="md-padding">
    <div layout="row" layout-align="center" layout-wrap>
      <md-card flex="50">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Edit Cat</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-input-container class="md-block">
            <label>Cat Name</label>
            <input ng-model="vm.cat.name">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Cat Age</label>
            <input ng-model="vm.cat.age">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Owner</label>
            <input ng-model="vm.cat.owner">
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref-active="md-raised" ng-click="vm.submit(editCatForm.$valid)">Edit</md-button>
          <md-button ui-sref-active="md-raised" ng-click="vm.cancel()">Cancel</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</form>
